In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('./export_crime_final.csv')
df.head()

   CMPLNT_NUM       Neighborhood  Neighborhood_ID  Year  Crime_Rate
0   731272886     Jamaica Center              163  2007         3.0
1   685977800            Clifton              256  2007         3.0
2   625034200          Soundview               27  2007         3.0
3   763554966  Concourse Village              271  2007         3.0
4   312160595         Lenox Hill              112  2007         3.0

In [8]:
df.shape

(6018177, 5)

In [9]:
result = {}
for index, row in df.iterrows():
    year = row['Year']
    neighborhood_id = row['Neighborhood_ID']
    neighborhood = row['Neighborhood']
    crime_rate = row['Crime_Rate']
    if year in result:
        if neighborhood_id in result[year]:
            result[year][neighborhood_id][1] += crime_rate
        else:
            result[year][neighborhood_id] = [neighborhood, crime_rate]
    else:
        neighborhood_dict = {neighborhood_id: [neighborhood, crime_rate]}
        result[year] = neighborhood_dict

In [14]:
final_result = []
for key, value in result.items():
    data = {'Neighborhood_ID':[], 'Neighborhood':[], 'Crime_Rate': [] }
    for neighborhood_id, detail in value.items():
        data['Neighborhood_ID'].append(neighborhood_id)
        data['Neighborhood'].append(detail[0])
        data['Crime_Rate'].append(detail[1])
    df = pd.DataFrame(data)
    path = "./crime_" + str(key) + ".csv"
    export_csv = df.to_csv(path, index = None, header=True)
    final_result.append(data)